<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
    <!-- Ensures optimal rendering on mobile devices. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimal Internet Explorer compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
<script src="https://www.paypal.com/sdk/js?client-id={{ client_id }}"></script>
{# Required. Replace YOUR_CLIENT_ID with your sandbox client ID.#}
<div class="container-fluid">
    <div class="row">{% include 'clixove.org/navigator.html' %}</div>
    <div class="row alert">
        <div class="col-md-12">
            <p>The currency in this page is prestige point.</p>
        </div>
        {% for plan in plans %}
        <div class="col-md-4">
        <div class="alert shadow fade show">
            <strong>{{ plan.name }}</strong> <span class="badge bg-warning text-dark">{{ plan.promotion }}</span>
            <p class="text-center"><span class="display-6">{{ plan.price }}</span> / {{ plan.duration }} days</p>
            {% if plan.features %}
                <ul>{% for feature in plan.display_features %}<li>{{ feature }}</li>{% endfor %}</ul>
            {% endif %}
            <a href="/payment/donation/subscription/add/{{ plan.id }}" class="btn btn-outline-primary w-100">OBTAIN</a>

        </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>
