<div class="alert shadow fade show" role="alert">
    <p>
        <strong>Fill NA</strong> <label style="width: 2ch;"></label>
        <label>
            Change view:
            <a role="button" class="text-primary" onclick="set_compact('fill_na_tc')">Compact</a>
            <a role="button" class="text-primary" onclick="set_expand('fill_na_tc')">Expand</a>
        </label> <label style="width: 2ch;"></label>
        <label>Check all:
            <input class="form-check-input" type="checkbox" onchange="check_all(this, 'fill_na_tc')" />
        </label>
    </p>
    <form id="fill-na">
        {{ fill_na.as_p }}
        <div class="text-center">
            <input type="submit" value="Handle" class="btn btn-outline-success">
        </div>
    </form>
    <div id="fill-na-return"></div>
</div>

<script>
    set_compact('fill_na_tc');
    async_submit_form('fill-na', '/pre_cross_sectional/action/fill_na', 'fill-na-return');
</script>
