<div class="alert shadow fade show" role="alert">
    <p class="d-flex justify-content-between">
        <strong>Import data</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </p>
    <p>
        This dataset is applied: <a href="/library/paper/{{ pre_csp.dataframe.id }}">{{ pre_csp.dataframe }}</a>
        <label style="width: 2ch;"></label>
        <a href="/pre_cross_sectional/clear-data/{{ pre_csp.id }}">Clear</a>
    </p>
</div>
