<div class="alert shadow fade show" role="alert">
    <p><strong>Explained Variance Ratio</strong></p>
    <p class="helptext">
        Explained variance ratio is percentage of variance explained by each of the selected components.
        The figure shows the accumulative explained variance ratio from the first dimension to the specific one.
    </p>
    <div class="d-flex justify-content-center" id="evr-figure">
        {{ algorithm.evr_figure | safe }}
    </div>
    <p class="helptext">
        Figure 1. Accumulative explained variance ratio. <label style="width: 2ch;"></label>
        <a role="button" class="text-primary"
           onclick="export_html('knn-figure', 'dbscan_{{ algorithm.id }}_fig_1.svg')">Download</a>
    </p>
</div>

<script>scale_svg('evr-figure', 600, 0.8);</script>
