<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row">{% include 'clixove.org/navigator.html' %}</div>
    <div class="row alert">
        <div class="col-md-12">
            <p class="lead fw-normal">Re-sampling #{{ algorithm.id }}</p>
            {% include 'task_manager/runtime_error.html' %}
            {% include 'task_manager/import_data.html' %}
            {% include 'pre_resampling/set_variables.html' %}
            {% include 'pre_resampling/evaluate.html' %}
            {% include 'pre_resampling/train.html' %}
            {% include 'pre_resampling/predict.html' %}
            {% include 'task_manager/note.html' %}
        </div>
    </div>
    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>
