<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <title>Clixove</title>
  {% include 'clixove.org/packages.html' %}
</head>
<body class="d-flex flex-column h-100">
{% include 'clixove.org/navigator.html' %}
<main class="flex-shrink-0"><div class="container-fluid">
    
    <div class="row alert">
        <div class="col-md-12">
            <p class="lead fw-normal text-center">My subscriptions</p>
            <div style="overflow-x: auto;">
                <table class="table table-hover">
                    <thead><tr>
                        <th style="min-width: 20ch;">Expired at</th>
                        <th style="min-width: 20ch;">Plan</th>
                        <th style="min-width: 20ch;">Effective</th>
                    </tr></thead>
                    <tbody>
                    {% for subscription in subscriptions %}
                    <tr>
                        <td>{{ subscription.expired_time| date:'Y-m-d H:i:s' }}</td>
                        <td>{{ subscription.plan }}</td>
                        <td>
                            <img src="/static/admin/img/icon-{% if subscription.expired %}yes{% else %}no{% endif %}.svg"
                                 alt="{{ subscription.paid }}">
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <p class="helptext">Timezone of subscription's expired time is {{ timezone }}.</p>
        </div>
    </div>
</div></main>
{% include 'clixove.org/copyright.html' %}
</body>
</html>
