<div class="alert shadow fade show" role="alert">
    <p><strong>Bayes search history</strong></p>
    <div style="overflow-x: auto;">
        <div style="overflow-y: auto; max-height: 400px;">
        <table class="table table-sm table-hover">
            <caption class="caption-top">
                Table 2. Bayes searching history of hyper-parameters.
            </caption>
            <thead>
                <tr class="text-center">
                    <th>Iteration</th>
                    <th>AUC of training set</th>
                    <th>ln(C)</th>
                    <th>Degree</th>
                </tr>
            </thead>
            <tbody>
                {% for i, wrapper_1 in bayes_history.items %}
                <tr class="text-center">
                    <td>{{ i }}</td>
                    <td>{{ wrapper_1.target | floatformat:4 }}</td>
                    <td>{{ wrapper_1.params.c | floatformat:4 }}</td>
                    <td>{{ wrapper_1.params.degree | floatformat:0 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <table class="table table-hover">
            <caption class="caption-top">
                Table 3. Hyper-parameters of the best model.
            </caption>
            <thead>
                <tr class="text-center">
                    <th>ln(C)</th>
                    <th>Degree</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>{{ h_para.c | floatformat:4 }}</td>
                    <td>{{ h_para.degree | floatformat:0 }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
