<div class="alert shadow fade show" role="alert">
    <p><strong>Train model</strong></p>
    {% if algorithm.model %}
        <p><i>Click the model name to download. It's the *.pkl file, parsed by Python package "pickle".</i>
            <a href="https://docs.python.org/3/library/pickle.html#examples" target="_blank">Reference</a></p>
        {% if algorithm.mode == '5fold' %}
            <p><i>This model is trained in 5-fold cross validation mode, so it's a Python list containing 5
                model instances.</i></p>
        {% endif %}
        <p>This model is saved: <a href="/library/paper/{{ algorithm.model.id }}"> {{ algorithm.model }} </a>
            <label style="width: 2ch;"></label>
            <a href="/algo_svm_classifier/clear-model/{{ algorithm.id }}">Clear</a></p>
    {% else %}
    <form id="train-model">
        {{ train_config.algorithm }}
        <p>
            <label>Running mode:</label>
            {{ train_config.running_mode }}
            <span class="helptext">{{ train_config.running_mode.help_text }}</span>
        </p>
        <p>
            <label>Random seed:</label>
            {{ train_config.random_seed }}
            <span class="helptext">{{ train_config.random_seed.help_text }}</span>
        </p>
        <div class="row mb-3">
            <label>ln(C):</label>
            <div class="col-md-6">From {{ train_config.min_ln_c }}</div>
            <div class="col-md-6">To {{ train_config.max_ln_c }}</div>
            <span class="helptext">{{ train_config.min_ln_c.help_text }}</span>
        </div>
        <p>
            <label>Kernel function:</label>
            {{ train_config.kernel }}
            <span class="helptext">{{ train_config.kernel.help_text }}</span>
        </p>
        <div class="row mb-3">
            <label>Degree (required only when kernel function is "polynomial"):</label>
            <div class="col-md-6">From {{ train_config.min_degree }}</div>
            <div class="col-md-6">To {{ train_config.max_degree }}</div>
            <span class="helptext">{{ train_config.min_degree.help_text }}</span>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <p>
                    <label>Bayes initial tries:</label>
                    {{ train_config.bayes_init_try_times }}
                    <span class="helptext">{{ train_config.bayes_init_try_times.help_text }}</span>
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <label>Bayes iteration times:</label>
                    {{ train_config.bayes_iteration_times }}
                    <span class="helptext">{{ train_config.bayes_iteration_times.help_text }}</span>
                </p>
            </div>
        </div>

        <p><i>It takes time to train the model. Do not submit this form repeatedly.</i></p>
        <div class="text-center">
            <input type="submit" class="btn btn-outline-success" value="Train">
        </div>
    </form>
    <div id="train-model-return"></div>
    {% endif %}
</div>

<script>
    async_submit_form('train-model', '/algo_svm_classifier/train-model', 'train-model-return');
</script>
