<div class="alert shadow fade show" role="alert">
    <p class="d-flex justify-content-between">
        <strong>Set variables</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </p>
    <p>Independent Variables X: {% for x in x_var %} {{ x }}; {% endfor %}</p>
    <p>
        Dependent Variable Y: {{ y_var.first }} <label style="width: 2ch;"></label>
        <a href="/algo_linear_regression/clear-variables/{{ algo_lr.id }}">Clear</a>
    </p>
</div>
