<div class="alert shadow fade show" role="alert">
    <p><strong>Train model</strong></p>
    <p><i>Click the model name to download. It's the *.pkl file, parsed by Python package "pickle".</i>
        <a href="https://docs.python.org/3/library/pickle.html#examples" target="_blank">Reference</a></p>
    {% if five_fold %}
        <p><i>This model is trained in 5-fold cross validation mode, so it's a Python list containing 5
            model instances.</i></p>
    {% endif %}
    <p>This model is saved: <a href="/library/paper/{{ algo_lr.model.id }}"> {{ algo_lr.model }} </a>
        <label style="width: 2ch;"></label>
        <a href="/algo_linear_regression/clear-model/{{ algo_lr.id }}">Clear</a></p>
</div>
