<div class="alert shadow fade show" role="alert">
    <p class="d-flex justify-content-between">
        <strong>Import data</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </p>
    <p>
        This dataset is applied: <a href="/library/paper/{{ algo_lr.dataframe.id }}">{{ algo_lr.dataframe }}</a>
        <label style="width: 2ch;"></label>
        <a href="/algo_linear_regression/clear-data/{{ algo_lr.id }}">Clear</a>
    </p>
</div>
