<div class="alert shadow fade show" role="alert">
    <p><strong>Regression line</strong></p>
    <form id="regression-line">
        <div class="row" style="overflow-x: auto;">
            <div class="col-10">{{ regression_line_form.as_p }}</div>
            <div class="col-2">
                <label style="width: 100%;"></label>
                <input type="submit" value="Draw" class="btn btn-outline-success" />
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-center" id="regression-line-return"></div>
    <p class="text-muted">
        Figure 1. Scatter plot and corresponding regression line for specific dimension.
        <label style="width: 2ch;"></label>
        <a role="button" class="text-primary"
           onclick="export_html('regression-line-return', 'lr_{{ algorithm.id }}_fig_1.svg')">Download</a>
    </p>
</div>

<script>
    $('#regression-line').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/algo_linear_regression/regression-line',
            data: $(this).serialize(),
            success: (response) => {
                document.getElementById('regression-line-return').innerHTML = response;
                scale_svg('regression-line-return', 600, 0.8);
            },
        });
    });
</script>
