<div class="alert shadow fade show" role="alert">
    <p><strong>Train model</strong></p>
    <form id="train-model">
        {{ train_config.as_p }}
        <p><i>It takes time to train the model. Do not submit this form repeatedly.</i></p>
        <div class="text-center">
            <input type="submit" class="btn btn-outline-success" value="Train">
        </div>
    </form>
    <div id="train-model-return"></div>
</div>

<script>
    async_submit_form('train-model', '/algo_linear_regression/train-model', 'train-model-return');
</script>
