<div class="alert shadow fade show" role="alert">
    <p><strong>Select sheet</strong></p>
    {% if algorithm.dataframe %}
    <p>
        Time series sheet: <b>{{ time_series_sheet }}</b>;
        Labels sheet: <b>{{ labels_sheet }}</b>
        <label style="width: 2ch;"></label>
        <a href="/pre_ts/clear-sheet/{{ algorithm.id }}">Clear</a>
    </p>
    {% else %}
    <form id="select-sheet">
        {{ select_sheet.as_p }}
        <div class="text-center">
            <input type="submit" class="btn btn-outline-success" value="Submit">
        </div>
    </form>
    <div id="select-sheet-return"></div>
    {% endif %}
</div>

<script>
    async_submit_form('select-sheet', '/pre_ts/select-sheet', 'select-sheet-return');
</script>
