<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'clixove.org/header.html' %}
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-12">
            {% include 'clixove.org/navigator.html' %}
        </div>
    </div>
    <div class="container-md">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <label class="lead fw-normal">{{ task.name }}</label>
            </div>
            <div class="col-md-3 text-end">
                <a role="button" class="btn btn-outline-primary" href="/task/{{ task.id }}">Refresh</a>
            </div>
            <hr class="mt-2">
        </div>
        <div class="row">
            <div class="col-md-12" style="overflow-x: auto;">
                <table class="table table-hover table-borderless">
                    <thead>
                    <tr><th>Model ID</th><th>Name</th><th>Status</th><th>Action</th></tr>
                    </thead>
                    <tbody>
                    {% for step in task.step_set.all %}
                        <tr>
                            <td>{{ step.model_id }}</td><td><a href="{{ step.view_link }}">{{ step.name }}</a></td>
                            <td class="text-nowrap {{ step.status_color }}">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                {{ step.get_status_display }}
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger rounded-pill" href="/step/delete/{{ step.id }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include 'clixove.org/copyright.html' %}
</body>
</html>
