<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row">{% include 'clixove.org/navigator.html' %}</div>
    <div class="row alert">
        <div class="col-md-12 text-center">
            <p class="display-4">QuestionGo</p>
            <p class="lead"><i>Construct and reuse machine learning models</i></p>
            <a class="btn btn-lg btn-outline-primary" href="/task/retrieve">Quick start</a>
        </div>
    </div>

    <!-- Algorithms tab -->
    <div class="row alert">
        <div class="col-md-12">
            <p class="lead fw-normal">Analysis toolbox</p>
            <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link text-dark active" data-bs-toggle="tab" href="#project" role="tab"
                   aria-selected="true">
                    Project
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-dark" data-bs-toggle="tab" href="#data-pre-processing" role="tab"
                   aria-selected="true">
                    Data pre-processing
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-dark" data-bs-toggle="tab" href="#hypothesis" role="tab"
                   aria-selected="true">
                    Hypothesis
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-dark" data-bs-toggle="tab" href="#classification" role="tab"
                   aria-selected="true">
                    Classification
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-dark" data-bs-toggle="tab" href="#regression" role="tab"
                   aria-selected="true">
                    Regression
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-dark" data-bs-toggle="tab" href="#prediction" role="tab"
                   aria-selected="true">
                    Prediction
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-dark" data-bs-toggle="tab" href="#clustering" role="tab"
                   aria-selected="true">
                    Clustering
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-dark" data-bs-toggle="tab" href="#advanced-applications" role="tab"
                   aria-selected="true">
                    Advanced applications
                </a>
            </li>
            </ul>
        </div>
    </div>

<!-- Algorithms cards -->
<div class="tab-content">
{#    <div class="tab-pane fade show" id="project" role="tabpanel">#}
{#    <div class="row alert">#}
{#    </div>#}
{#    </div>#}
    <div class="tab-pane fade show active" id="project" role="tabpanel">
    <div class="row alert">
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Projects</strong></p>
                <p>View, create, delete, and switch between your projects.</p>
                <div class="text-center m-2">
                    <a href="/task/instances" class="btn btn-outline-primary">Enter</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="tab-pane fade show" id="data-pre-processing" role="tabpanel">
    <div class="row alert">
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Cross-sectional</strong></p>
                <p>Process cross-sectional data: dropping, filling missing values, converting type, encoding, and
                basic maths operations.</p>
                <div class="text-center m-2">
                    <a href="/pre_cross_sectional/add" class="btn btn-outline-success">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Time series</strong></p>
                <p>Converting records from a table to a multi-dimension time series.</p>
                <div class="text-center m-2">
                    <a href="/pre_ts/add" class="btn btn-outline-success">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Normalization and zipping</strong></p>
                <p>Perform normalization and zipping, prepared for inverse results back at any time.</p>
                <div class="text-center m-2">
                    <a href="/pre_norm/add" class="btn btn-outline-success">Create</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="tab-pane fade show row alert" id="hypothesis" role="tabpanel">
    <div class="row alert">
    </div>
    </div>

    <div class="tab-pane fade show row alert" id="classification" role="tabpanel">
    <div class="row alert">
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Random Forest</strong></p>
                <p>Classify and calculate the importance of each feature.</p>
                <div class="text-center m-2">
                    <a href="/algo_rf_classifier/add" class="btn btn-outline-success">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Support Vector Classifier</strong></p>
                <p>Classify small number of samples, and draw classification boundary in non-linear space.</p>
                <div class="text-center m-2">
                    <a href="#" class="btn btn-outline-success disabled">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Abnormal Detection</strong></p>
                <p>Use one-class SVM method to draw envelope of normal samples and detect abnormal samples.</p>
                <div class="text-center m-2">
                    <a href="#" class="btn btn-outline-success disabled">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Logistic regression</strong></p>
                <p>Classify samples into dual classes based on the linear method.</p>
                <div class="text-center m-2">
                    <a href="#" class="btn btn-outline-success disabled">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Long-short Term Memory</strong></p>
                <p>Fit external classification of time series by LSTM-Dense neuron network.</p>
                <div class="text-center m-2">
                    <a href="#" class="btn btn-outline-success disabled">Create</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="tab-pane fade show row alert" id="regression" role="tabpanel">
    <div class="row alert">
                <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Linear regression</strong></p>
                <p>The most classic method in computational economics.</p>
                <div class="text-center m-2">
                    <a href="/algo_linear_regression/add" class="btn btn-outline-success">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Elastic net</strong></p>
                <p>An improvement of linear regression with L1 and L2 regularization.</p>
                <div class="text-center m-2">
                    <a href="#" class="btn btn-outline-success disabled">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Random Forest</strong></p>
                <p>Regress and calculate the importance of each feature.</p>
                <div class="text-center m-2">
                    <a href="#" class="btn btn-outline-success disabled">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert shadow fade show" role="alert">
                <p><strong>Support Vector Regressor</strong></p>
                <p>Regress small number of samples by calculating the distance between each sample and the boundary.</p>
                <div class="text-center m-2">
                    <a href="#" class="btn btn-outline-success disabled">Create</a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="tab-pane fade show row alert" id="prediction" role="tabpanel">
    <div class="row alert">
    </div>
    </div>

    <div class="tab-pane fade show row alert" id="clustering" role="tabpanel">
    <div class="row alert">
    </div>
    </div>

    <div class="tab-pane fade show row alert" id="advanced-applications" role="tabpanel">
    <div class="row alert">
    </div>
    </div>
</div>

    <!-- Feature & advantages -->
    <div class="row alert">
        <div class="col-md-12"><p class="lead fw-normal">Features & advantages</p></div>
        <div class="col-md-4">
            <img src="/static/features/Slide1.PNG" class="card-img-top" alt="..." style="height: auto;">
            <div class="alert bg-light">
                <p><b>Organize modeling steps</b></p>
                <p>
                    With our project manager, you clearly know which steps are used and how they work together.
                    Be free to create branches, try different ideas, and compare the results.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/static/features/Slide2.PNG" class="card-img-top" alt="..." style="height: auto;">
            <div class="alert bg-light">
                <p><b>Recommend best models</b></p>
                <p>
                    We use searching methods to optimize some of hyper-parameters, guiding you to reach optimal
                    results.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/static/features/Slide3.PNG" class="card-img-top" alt="..." style="height: auto;">
            <div class="alert bg-light">
                <p><b>Machine learning in cloud</b></p>
                <p>
                    Start training your machine learning model with any device, and download results at any time.
                </p>
            </div>
        </div>
    </div>

    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>
