<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'clixove.org/header.html' %}
</head>
<body>
    {% include 'clixove.org/navigator.html' %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between">
                    <div class="flex-fill text-center"><span class="lead fw-normal">New Task</span></div>
                </div>
                <hr class="mt-2">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/task/add" method="post">
                    {{ add_task_form.as_p }}
                    <div class="text-center">
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'clixove.org/copyright.html' %}
</body>
</html>
