<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row">{% include 'clixove.org/navigator.html' %}</div>
    <div class="row alert">
        <div class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item"><label class="nav-link disabled">Actions</label></li>
                <li class="nav-item"><a class="nav-link" href="/task/{{ task.id }}">Refresh</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <label class="lead fw-normal p-2">{{ task.name }}</label>
            <div style="overflow-x: auto;">
                <table class="table table-hover table-borderless">
                    <thead>
                    <tr><th class="text-nowrap">Model ID</th><th>Name</th><th>Status</th><th>Action</th></tr>
                    </thead>
                    <tbody>
                    {% for step in task.step_set.all %}
                        <tr>
                            <td>{{ step.model_id }}</td>
                            <td class="text-nowrap"><a href="{{ step.view_link }}">{{ step.name }}</a></td>
                            <td class="text-nowrap {{ step.status_color }}">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                {{ step.get_status_display }}
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger rounded-pill" href="/step/delete/{{ step.id }}">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>
