<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'clixove.org/header.html' %}
</head>
<body>
    {% include 'clixove.org/navigator.html' %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <label class="lead fw-normal">Contact us</label>
            </div>
            <div class="col-md-3 text-end">
                <a role="button" class="btn btn-outline-primary" href="/task/retrieve">Back</a>
            </div>
            <hr class="mt-2">
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="lead fw-normal">For developers</p>
            </div>
            <div class="col-md-10">
                <p><a href="https://github.com/Clixove/Question-Go/issues">Open an issue</a> in our Github repository.</p>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="lead fw-normal">For users</p>
            </div>
            <div class="col-md-10">
                <p>Write an email to Clixove staffs.</p>
                <div class="alert alert-light">
                    <strong>Cloudy Lu</strong> <label style="width: 2ch;"></label>
                    <a href="mailto:cloudy@clixove.com">cloudy@clixove.com</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'clixove.org/copyright.html' %}
</body>
</html>
