<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Confirmation</title>
</head>
<body>
  <p>Thank you for registering an account of Clixove software!</p>
  <p>
    Here's your invitation code:
    <span style="font-size: larger"><b>{{ invitation_code }}</b></span>
  </p>
  <p>
    If you haven't registered any software from our organization, please ignore this email.
    If feeling disturbed by our emails, you can report this issue to our organization by sending an email to
    <a href="mailto:cloudy@clixove.com">cloudy@clixove.com</a>. We will investigate if someone
    fraudulently used your email address and provide you with the necessary information.
  </p>
  <p>For more information about our organization: <a href="https://blog.clixove.com/">https://www.clixove.com/</a></p>
  <p>Cheers! Data science will make our life better.</p>
  <p>Cloudy</p>
  <p>Developer of Clixove software</p>
</body>
</html>
