<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'clixove.org/header.html' %}
</head>
<body>
    {% include 'clixove.org/navigator.html' %}
    <div class="container-md">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <label class="lead fw-normal">Register</label>
            </div>
            <div class="col-md-3 text-end">
                <a role="button" class="btn btn-outline-primary" href="/main">Back</a>
            </div>
            <hr class="mt-2">
        </div>
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="/my_login/register/add" method="post">
                    {{ RegisterSheet.as_p }}
                    <input type="submit" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
    {% include 'clixove.org/copyright.html' %}
</body>
</html>
