<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row">{% include 'clixove.org/navigator.html' %}</div>
    <div class="row alert justify-content-center">
        <div class="col-md-8">
            <p class="lead fw-normal text-center">Register</p>
            <ul>Rate limit:
                <li>Each IP address can send 70 registration requests in 10 minutes. (For classrooms)</li>
                <li>Each username can send 2 registration requests in 1 minute.</li>
                <li>Each email address can send 1 registration request in 1 minute.</li>
            </ul>
            <form role="form" action="/my_login/register/add" method="post">
                {{ RegisterSheet.as_p }}
                <div class="text-center">
                    <input type="submit" class="btn btn-outline-success" value="Send an email" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>
