<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
    <script src="/static/qrcode.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">{% include 'clixove.org/navigator.html' %}</div>
    <div class="row alert justify-content-center">
        <div class="col-md-8">
            <p class="lead fw-normal text-center">Donate</p>
                <p>Write your donation token to 'remark' box of your transfer sheet. </p>
                <p class="helptext">
                    The 'remark' box of your transfer sheet can also be like memo / postscript / note. The donation
                    token is the only way that we identify you.
                </p>
                <div class="alert alert-primary"><strong>{{ token }}</strong></div>
                <p><a href="" role="button" data-bs-toggle="modal" data-bs-target="#qr-mobile">
                    Copy to mobile phone</a></p>
                <p class="helptext">
                    After paying, if you don't click 'I have paid.' button or don't attach donation token, we may
                    receive the money, but cannot identify where it from. In this case, we cannot give you prestige
                    points.
                </p>
                <form action="/payment/add" method="post">
                    {{ donation_method.as_p }}
                    <div class="text-center">
                        <a href="" target="_blank" id="donate-start" class="btn btn-outline-success">Start Paying</a>
                        <input type="submit" class="btn btn-outline-primary" value="I have paid.">
                    </div>
                </form>
        </div>
    </div>
    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>

<!-- Modal -->
<div class="modal fade" id="qr-mobile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fw-bold" id="exampleModalLabel">Copy to mobile phone</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>To copy the <b>donation token</b>, scan the QR code with mobile phone software.</p>
          <ul class="helptext">
              <li>Chinese users can scan it with `Alipay` or `WeChat` and copy text.</li>
              <li>iOS user can scan it with `Camera` and long-press the popped-up badge to copy text.</li>
          </ul>
        <div class="d-flex justify-content-center"><div id="qr-token"></div></div>
      </div>
    </div>
  </div>
</div>

<script>
    new QRCode(document.getElementById("qr-token"), "{{ token }}");

    function query_donation_method(e) {
        $.ajax({
            type: 'GET', url: '/payment/method/' + e.value,
            success: (response) => {
                document.getElementById('donate-start').href = response;
            },
        });
    }
</script>
