<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row">{% include 'clixove.org/navigator.html' %}</div>
    <div class="row alert">
        <div class="col-md-12">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-dark">My prestige points</button>
                <button type="button" class="btn btn-outline-dark">{{ my_coins | floatformat:2 }}</button>
            </div>
            <div style="overflow-x: auto;">
                <table class="table table-hover table-borderless">
                    <caption class="caption-top">Records of my prestige points</caption>
                    <thead>
                    <tr>
                        <th>Created Time</th><th>Amount</th><th>Plan</th><th>Transaction</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prestige in prestige_s %}
                    <tr>
                    <td style="min-width: 20ch;">{{ prestige.created_time | date:'Y-m-d H:i:j' }}</td>
                        <td>{{ prestige.amount | floatformat:2 }}</td>
                        <td style="min-width: 16ch;">{{ prestige.plan.name }}</td>
                    <td>#{{ prestige.transaction.id }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>
