<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row">{% include 'clixove.org/navigator.html' %}</div>
    <div class="row alert">
        <div class="col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item"><label class="nav-link text-dark">Products:</label> </li>
                {% for pd in product_lines %}
                <li class="nav-item">
                    <a class="nav-link" href="/payment?product_line={{ pd.id }}">{{ pd.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10">
            <p class="lead fw-normal">{{ product.name }}</p>
            <p>The price of these plans are in currency of {{ product.coin }}.</p>

<div class="row">
    {% for plan in plans %}
    <div class="col-md-4">
        <div class="card mx-auto my-4 feature-items">
            <div class="card-header text-center p-2"><h5 class="card-title">{{ plan.name }}</h5></div>
            <div class="card-body">
            {% if plan.badget %}
                <div class="bg-warning text-end fw-bold">
                <span class="me-2">{{ plan.badge }}</span>
                </div>
            {% endif %}
                <p class="text-nowrap">
                    $ <span class="display-6">{{ plan.price }}</span> / {{ plan.subscription_days }} Days
                </p>
                <ul>
                    {% for item in plan.feature_list %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
                <button class="btn btn-outline-primary w-100 text-center" onclick="transmit_plan_id({{ plan.id }})"
                    data-bs-toggle="modal" data-bs-target="#createOrder">
                   GET STARTED
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

        </div>
    </div>
    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>

<!-- Modal -->
<div class="modal fade" id="createOrder" tabindex="-1" aria-labelledby="createOrderLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createOrderLabel">Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="/payment/add" method="post">
            <div class="modal-body">
                {{ create_order.as_p }}
                <span>Please wait for response and don't click multiple times.</span>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-outline-primary" name="method" value="Alipay">
            </div>
        </form>
    </div>
  </div>
</div>


<script>
    let ul_items = document.getElementsByClassName("feature-items");
    let ul_heights = [];
    Array.prototype.forEach.call(ul_items, function (ul_item) {
        ul_heights.push(ul_item.offsetHeight);
    })
    max_height = Math.max(...ul_heights);
    Array.prototype.forEach.call(ul_items, function (ul_item) {
        ul_item.setAttribute("style", "max-width: 20rem; height: " + max_height + "px;");
    })

    function transmit_plan_id(plan_id) {
        document.getElementById("id_plan").setAttribute("value", plan_id);
    }
</script>
