<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clixove</title>
    {% include 'clixove.org/packages.html' %}
</head>
<body>
<div class="container-fluid">
    <div class="row">{% include 'clixove.org/navigator.html' %}</div>
    <div class="row alert">
        <div class="col-md-12" style="overflow-x: auto;">

            <table class="table table-hover table-borderless">
                <caption class="caption-top">My Subscriptions</caption>
                <thead>
                <tr>
                    <th>Product</th><th>Plan</th><th style="min-width: 20ch;">Expired Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for subscription in subscriptions %}
                        <td class="text-nowrap">{{ subscription.plan.product_line.name }}</td>
                        <td class="text-nowrap">{{ subscription.plan.name }}</td>
                        <td>{{ subscription.expired_time | date:'Y-m-d H:i:j' }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>

            <table class="table table-hover table-borderless">
                <caption class="caption-top">Transactions</caption>
                <thead>
                <tr>
                    <th>Product</th><th>Plan</th><th style="min-width: 20ch;">Created Time</th>
                    <th>Amount</th><th style="min-width: 24ch;">Trade Number</th>
                    <th style="min-width: 24ch;">Action</th><th>Paid</th>
                </tr>
                </thead>
                <tbody>
                {% for tran in transactions %}
                    <tr>
                    <td class="text-nowrap">{{ tran.plan.product_line.name }}</td>
                        <td class="text-nowrap">{{ tran.plan.name }}</td>
                    <td>{{ tran.created_time | date:'Y-m-d H:i:j' }}</td>
                    <td>{{ tran.amount | floatformat:2 }}</td><td>{{ tran.trade_number }}</td>
                {% if tran.paid %}
                    <td></td>
                    <td><img src="/static/admin/img/icon-yes.svg" alt="False"></td>
                {% else %}
                    <td>
                    <a href="/payment/pay/{{ tran.id }}" target="_blank">Pay</a> <label style="width: 2ch;"></label>
                    I have paid? <a href="/payment/query/{{ tran.id }}">Update</a>
                    </td>
                    <td><img src="/static/admin/img/icon-no.svg" alt="False"></td>
                {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">{% include 'clixove.org/copyright.html' %}</div>
</div>
</body>
</html>
